body{
    background-color: beige;
    
}
.con{
    display: flex;
}
.box{
    border: 8px solid black;
    border-radius: 40px;
    background-color: rgb(234, 234, 11);
    height: 100px;
    width: 400px;
    margin: 20px;

}
#box1{
    position: relative;
            /* animation-name: rightMovement;
            animation-duration: 5s;
            animation-iteration-count: 1;
            /* animation-delay: 1s; */
            /* animation-timing-function: linear; */
            /* animation-direction: alternate-reverse; */
            /* animation-fill-mode: backwards;  */

            /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
            animation: 5s linear 1s infinite alternate none running rightMovement;
}
    @keyframes rightMovement {
        from {
            top: 0;
            left: 0;
        }

        to {
            top: 0;
            left: 1350px;
        }
    }

#box2{
    position: relative;
    animation: 5s linear 1s infinite alternate none running leftMovement;


}
@keyframes leftMovement {
    from {
        top: 650px;
        left: 1000px;
    }

    to {
        top: 650px;
        left: 0;
    }
}