h1{
    display: inline;
    /* acts like inline element. */
    /* inline element only allow horizontal margining. */
}
/* p{
    display: inline;
} */
 span{

    display: block;
    /* acts like block element */
 }
.para{
    display: inline-block;
    /* comes in same line + we can set height , width, padding and vertical margin too like block elements */
}