img{
    height: 300px;
    width: 300px;

}
.m1{
    float: right;
}
.m2{
    /* float: left; */
    float: right;
    /* clear: right; */
    /* clear right means : shift itself so that there are no images in the right part. */
}