.container {
  border: 2px solid black;
  background-color: beige;
  display: flex;
}
.item {
  border: 2px solid brown;
  height: 150px;
  width: 150px;
}
#item1 {
  background-color: aquamarine;
}
#item2 {
  background-color: rgb(255, 127, 229);
}
#item3 {
  background-color: rgb(204, 255, 127);
}
#item4 {
  background-color: rgb(153, 127, 255);
  order: -1;
}
@media (min-width: 640px) {
  .container {
      flex-direction: row;
}
}
@media (max-width: 640px) {
    .container {
        flex-direction: column;
    }
  }

