.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 2px solid black;
   width: 1500px;
   height: 500px;
    margin: 3px;
    padding: 2px;
}
.box{
    /* variable in CSS */
    --custom-width: 300px;
    height: 300px;
    width: var(--custom-width);
    background-color: rgb(246, 150, 198);
    box-shadow: 30px 23px 40px 0px rgb(63, 62, 62);
    padding-left: 10px;
    margin: 3px;

}
.heading{
    text-shadow: 2px 3px 4px white;
    /* Multiple Shadows: */
    /* box-shadow: 2px 3px 40px rgb(227, 12, 12), 2px 3px 40px rgb(230, 238, 9),2px 3px 40px rgb(60, 8, 216); */
    /* text-shadow: 2px 2px red, 3px 3px yellow, 5px 5px green; */

}