.container{
    border: 2px solid black;
    background-color: beige;
    display: flex;
    /* flex direction auto pe row rehta */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* puts item nichu if wrap warna auto pe its gonna shrink. */
    /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse;  */
    /* flex-flow: row wrap; */
    justify-content: center;
    /* justify-content: space-between; and more.. */
}
.item{
    border: 2px solid brown;
    height: 150px;
    width: 150px;
}
#item1{
    background-color: aquamarine;
    /* flex-shrink: 4; */
}
#item2{
    background-color: rgb(255, 127, 229);
    /* flex-grow: 4; */
    
}
#item3{
    background-color: rgb(204, 255, 127);
    /* flex-basis: 400px; */
}
#item4{
    background-color: rgb(153, 127, 255);
    order: -1;
    /* purple pehle aayega even tho 4th item hai due to order property */
    /* flex: 3 4 300px; grow, shrink, basis (shorthand notation) */
}