.container{
    border: 1px solid black;
    height: 50px;
    width:100%;
    overflow: auto;
    /* overflow: hidden; */
    /* overflow:scroll; */
    /* overflow: visible; default rehta yeh */
}
.item{
    background-color: aquamarine;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}
#item1{
    float:right;
}
#item2{
    float:right;
}
#item3{
    float:right;
}